<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/cache 
     http://www.springframework.org/schema/cache/spring-cache.xsd">

	<context:component-scan base-package="com.yzb.service.impl,com.yzb.config" />

	<!-- 加载properties文件  -->
	<bean id="configProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:mysqldb.properties</value>
                <value>classpath:redis.properties</value>
                <value>classpath:mail.properties</value>
            </list>
        </property>
    </bean>
    
    <bean id="mailClient" class="com.yzb.util.mail.JavaMailClient">
    	<property name="mailHost" value="${mail.host}" />
    	<property name="mailTransportProtocol" value="${mail.transport.protocol}" />
    	<property name="mailSmtpAuth" value="${mail.smtp.auth}" />
    	<property name="mailDebug" value="${mail.debug}" />
    	<property name="mailUserName" value="${mail.username}" />
    	<property name="mailPassword" value="${mail.password}" />
    </bean>
    <!-- 声明式缓存开启 -->
	<!-- <cache:annotation-driven cache-manager="cacheManager"/>
	<bean id="cacheManager" class="org.springframework.data.redis.cache.RedisCacheManager" c:redis-operations-ref="redisTemplate">
		<property name="defaultExpiration" value="${redis.expireTime}"/>
	</bean>
  	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate" p:connection-factory-ref="jedisConnectionFactory" >
  		<property name="valueSerializer" ref="redisSerializer"/>
  	</bean>
	<bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" 
		p:host-name="${redis.host}" p:port="${redis.port}" p:password="${redis.password}"/> -->
</beans>